h2 {
    color: tomato;
    text-align: center;
    background-color: yellowgreen;
}

section {
    margin-bottom: 5vh;
    margin: 5vh 25%;
}

.style {
    display: inline-block;
    border-radius: 5px;
    background: #666;
    color: white;
    padding: 5px;
}

.example {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.toggle {
    background: #000;
    color: #fff;
}

section:nth-of-type(2) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

section:nth-of-type(2) .listContainer {
    display: flex;
}

section:nth-of-type(2) li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section:nth-of-type(2) li a:hover:not(.active) {
    background-color: #111;
}

section:nth-of-type(2) .active {
    background-color: #4CAF50;
}


/* Lev2_2 --------------------------------*/

section:nth-of-type(3) input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

section:nth-of-type(3) input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

section:nth-of-type(3) input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section:nth-of-type(3) input[type=submit]:hover {
    background-color: #45a049;
}

section:nth-of-type(3) div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Lev2_3--------------------------------- */

section:nth-of-type(4) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

section:nth-of-type(4) .listContainer {
    display: flex;
}

section:nth-of-type(4) li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section:nth-of-type(4) li a:hover:not(.active) {
    background-color: #111;
}

section:nth-of-type(4) .active {
    background-color: #4CAF50;
}


/* Lev2_4--------------------------------- */

section:nth-of-type(5) {
    padding: 30px;
}

section:nth-of-type(5) form {
    padding: 5px;
    display: inline-block;
    background: #999;
    border-radius: 5px;
}

section:nth-of-type(5) input {
    background: #333;
    color: white;
}


/* Lev2_10--------------------------------- */

section:nth-of-type(6) {
    font-family: 'Karla', sans-serif;
}

section:nth-of-type(6) button {
    background-color: #035aa6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

section:nth-of-type(6) .wrapper {
    max-width: 500px;
    margin-top: 2vh;
}

section:nth-of-type(6) div {
    border-radius: 5px;
}

section:nth-of-type(6) .small {
    transition: all 1s;
    color: #45a049;
    border: #666 solid 5px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

section:nth-of-type(6) .middle {
    transition: all 1s;
    color: #45a049;
    border: #666 solid 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

section:nth-of-type(6) .bigCrazy {
    transition: all 2s;
    color: gold;
    border: #45a049 solid 20px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 10px;
    text-shadow: 2px 8px 2px #4CAF50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Eventa */


/* Lev1_5 */

section:nth-of-type(7) {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: linear-gradient(-90deg, #f6ad7b, #be7575);
}

section:nth-of-type(7) div {
    margin: 100px auto;
    text-align: center;
}

section:nth-of-type(7) button {
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    border: 1px solid #c2e8ce;
    color: #c2e8ce;
}


/* Lev1_6 */

section:nth-of-type(8) select {
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    font-size: 2rem;
    outline: 0;
}


/* Lev2_1 */

section:nth-of-type(9) {
    margin: 3em;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

section:nth-of-type(9) h1 {
    line-height: 1.25;
    margin: 1em 0 0;
}

section:nth-of-type(9) p {
    margin: .5em 0;
}

section:nth-of-type(9) #umschalter {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section:nth-of-type(9) #umschalter li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 18px;
    border: 3px solid black;
}

section:nth-of-type(9) #grauTaste {
    background: gray;
}

section:nth-of-type(9) #weissTaste {
    background: white;
}

section:nth-of-type(9) #blauTaste {
    background: blue;
}

section:nth-of-type(9) #gelbTaste {
    background: yellow;
}


/* Lev2_2 */

section:nth-of-type(10) {
    background-color: rgb(239, 159, 130);
    text-align: center;
    padding: 20px;
}

section:nth-of-type(10) h1 {
    font-size: 4rem;
    font-family: 'Karla', sans-serif;
}

section:nth-of-type(10) div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

section:nth-of-type(10) .title {
    background-color: #035aa6;
    padding: 5px;
    color: #fff;
}